<table>
   <tr>
      <th>From</th>
      <th>To</th>
      <th>Subject</th>
      <th>Messsage</th>
   </tr>
   
   <% @emails.each do |email| %>
      <tr>
         <td><%= email.from %></td>
         <td><%= email.to %></td>
         <td><%= email.subject %></td>
         <td><%= link_to email_path(email), email.message %></td>
      </tr>
   <% end %>
</table>
